{% extends 'base_layout.html' %}

{% block content %}

  <h1>signup</h1>
  <form class="site-form" action="/accounts/signup/" method="post">
    {% csrf_token %}
    {% for field in UserSignUp_form %}
      <p>
          {{ field.label_tag }}
          {{ field }}

          {% for error in field.errors %}
            <p style="color: red;">{{ error }}</p>
          {% endfor %}
      </p>
    {% endfor %}
    <input type = "submit" value="Signup">
  </form>
  <ul>
      <li><a href = "{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
      <li><a href = "{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
  </ul>
{% endblock %}
