[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
social-auth-app-django = "*"
djangorestframework = "*"
markdown = "*"
django-rest-knox = "*"
django-cors-headers = "*"
requests = "*"
py3-validate-email = "*"

[requires]
python_version = "3.9"
