{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      {% if request.user.is_authenticated %}
      <p><a href="{% url 'home' %}">Home  | <a href = "{% url 'profile' %}">Profile View</a> | <a href = "{% url 'logout' %}">Logout</a>
        <p>Hello, {{request.user.username}} </p>
      {% else %}
      <p><a href="{% url 'signup' %}">Sign Up</a>   |   <a href="{% url 'login' %}">Login</a></p>
      {% endif %}
  </head>
        {% block content %}
        {% endblock %}
</html>
