<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'diary' %}">Diary</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'image' %}">Images</a></li>
        <li><a href="{% url 'todolist' %}">To-Do List</a></li>
        {% if user.is_authenticated %}
        <li><form class="logout-link" action="{% url 'accounts:logout' %}"method="post">
            {% csrf_token %}
        <button type="submit">Logout</button>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        <p>Welcome to BruhApp</p>
            <li><a href="{% url 'diary' %}">Diary</a></li>
            <li><a href="{% url 'inventory' %}">Inventory</a></li>
            <li><a href="{% url 'image' %}">Images</a></li>
            <li><a href="{% url 'todolist' %}">To-Do List</a></li>
        {% endif %}
    </ul>
</nav>
